body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  blockquote {
  	margin: 20px 0;
  	padding-left: 1.5em;
  	border-left: 5px solid teal;

  }
  .pagination li.active{
      background-color: teal;
  }
